.chat-main
  - @messages.each do |message|
    .chat-main__message
      %p.chat-main__message__member
        = message.user.name
      %p.chat-main__message__day
        = message.created_at.in_time_zone('Tokyo').to_s(:ymd)
    .chat-main__text
      %p.chat-main__text__word
        = message.text
      - if message.image?
        = image_tag message.image.thumb.url, class: "chat-main__image"
