.user-info
  %p.user-info__name
    =current_user.name
  .user-info__icon
    = link_to new_group_path, class: "user-info__icon__pencil" do
      %i{"class":"fa fa-pencil-square-o",  "aria-hidden":"true"}
    = link_to edit_user_path(current_user.id), class: "user-info__icon__cog" do
      %i{"class":"fa fa-cog",  "aria-hidden":"true"}
.group-info
  %p.group-info__name
    グループ１
  %p.group-info__message
    testtest
  %p.group-info__name
    グループ２
  %p.group-info__message
    testtest
