.user-info
  %p.user-info__name
    mei
  .user-info__icon
    %a{"class":"user-info__icon__pencil", "href":"#"}
      %i{"class":"fa fa-pencil-square-o",  "aria-hidden":"true"}
    %a{"class":"user-info__icon__cog", "href":"#"}
      %i{"class":"fa fa-cog",  "aria-hidden":"true"}

.group-info
  %p.group-info__name
    グループ１
  %p.group-info__message
    testtest
  %p.group-info__name
    グループ２
  %p.group-info__message
    testtest
