// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  @include clearfix();
}

header {
  background-color: $color-main-buton;
  height: 25px;
}

.chat-info {
  background-color: #f3f3f3;
  width: calc(100vw - 300px - 80px);
  height: 99px;
  float: right;
  border-bottom: solid 1px #dedddd;
  padding: 0 40px 0 40px;


  &__group {
    display: inline-block;
    padding: 35px 0 0 0;

    &__name {
      font-size: 20px;
      color: #333333;
      margin: 0 0 15px 0;
    }

    &__member {
      font-size: $fontsize-day;
      color: $color-main-day;
    }
  }

  &__edit {
    background-color: $color-side-text;
    border: solid 1px $color-main-buton;
    height: calc(42px - 2px);
    width: calc(75px - 2px);
    float: right;
    margin: 28px 0 28px 0;

    &__text {
      color: $color-main-buton;
      padding: 8px 20px 8px 20px;
    }
  }
}

.chat-main {
  background-color: #ececec;
  width: calc(100vw - 300px - 80px);
  height: calc(100vh - 96px - 46px - 90px);
  float: right;
  padding: 46px 40px 0 40px;

  &__message {
    padding: 0 0 10px 0;

    &__member {
      display: inline-block;
      font-weight: bold;
      font-size: $fontsize-name;
      color:$color-main-text;
    }

    &__day {
      display: inline-block;
      font-size: $fontsize-day;
      color:$color-main-day;
      padding: 0 0 0 10px;
    }
  }

  &__text {
    font-size: 14px;
    color:$color-main-text;
    padding: 0 0 40px 0;
  }
}

.chat-form{
  height: 90px;
  width: calc(100vw - 300px);
  background-color: #d2d2d2;
  float: right;

  &__input {
    padding: 20px 40px 20px 40px;

    &__text {
      height: 50px;
      width: calc(100vw - 535px);
      border: none;
      padding-left: 10px;
      float: left;
    }

    &__icon {
      background-color: $color-side-text;
      height: 50px;
      width: 20px;
      float: left;
      padding-right: 10px;

      &__image {
        font-size: 20px;
        line-height: 50px;
      }
    }

    &__button {
      background-color: $color-main-buton;
      height: 50px;
      width: 100px;
      color: white;
      border: none;
      margin-left: 15px;
      float: right;
    }
  }
}

.user-info {
  display: inline-block;
  background-color: #253141;
  height: 100px;
  width: 300px;

  .user-info__name {
    display: inline-block;
    font-weight: bold;
    font-size: $fontsize-name;
    color: $color-side-text;
    padding: 35px 0 15px 20px;
  }

  &__icon {
    display: inline-block;
    float: right;
    padding: 35px 20px 15px 20px;

    &__pencil {
      display: inline-block;
      color: #253141;
      .fa {
        color: $color-side-text;
      }
    }

    &__cog {
      .fa {
        color: $color-side-text;
      }
    }
  }
}

.group-info {
  background-color: #2f3e51;
  width: calc(300px - 40px);
  height: calc(100vh - 96px);
  padding: 0 20px 0 20px;

  &__name {
    font-size: 15px;
    color: $color-side-text;
    padding: 20px 0 0 0;
  }

  &__message {
    font-size: 11px;
    color: $color-side-text;
    padding: 5px 0 20px 0;
  }

}

footer {

}
